@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins&display=swap');

@keyframes derecha {
    0%{
        transform: translateX(-900px);
        opacity: 0;
    }
    50%{
        opacity: 0.9;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Poppins', sans-serif;
    width: 100%;
    overflow-x: hidden;
    background-color: rgb(52, 73, 94);
    animation: derecha 1.5s ease;
}

h2{
    color: rgb(255, 81, 0);
    text-shadow: 2px 2px 1px black ;
}

.cabezera{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 100px;
    transition: all 0.4s ease;
    animation: derecha 2s ease;
}

.logo{
    position: relative;
    left: 0;
}

.logo img{
    width: 120px;
    margin: 6px 20px;
}
.navegador{
    position: absolute;
    right: 0;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 30px 10px;
}

#btn{
    position: absolute;
    color: white;
    font-size: 60px;
    width: auto;
    display: flex;
    justify-content: right;
    margin: 17px 0 0 75%;
    visibility: collapse;
    cursor: pointer;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.4vw;
    letter-spacing: 0.7px;
    border: 3px solid rgb(41, 10, 179);
    padding: 7px 10px;
    border-radius: 10px;
    transition: all 0.5s ease;
}

nav ul li a:hover{
    box-shadow: 3px 3px 10px rgb(0, 153, 255);
    background-color: rgb(41, 10, 179);
    color: white;
}
/* imagenes con el efecto parallax */
.parallax-1{
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/fondo\ 1.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    transition: all 0.8s ease;
}

.texto-hero{ /*texto del centro*/
    text-align: center;
    border: 5px solid rgb(41, 10, 179);
    padding: 5px 20px;
    border-radius: 10px;
    transition: all 0.6s ease;
    font-size: 2vw;
}

.texto-hero a{
    text-decoration: none;
    color: white;
    transition: all 0.2s ease;
}

.texto-hero a:hover{
    color: rgb(255, 255, 255);
}

.texto-hero:hover{
    font-size: 2.5vw;
    box-shadow: 3px 3px 10px rgb(0, 153, 255);
    background-color: rgb(41, 10, 179);
}
/* contenido */
#promo{
    width: 90%;
}

article{
    margin: 40px auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
    gap: 1vh;
    overflow: hidden;
    flex-direction: column;
    animation: derecha 2.5s ease;
    color: black;
    align-items: center;
}

.item1{
    font-size: 4vw;
    color: rgb(233, 227, 227);
    height: auto;
    text-align: center;
    font-weight: 800;
}

.item2{
    font-size: 1.6vw;
    height: auto;
    text-align: center;
    width: 90%;
}

.item2 p{
    text-align: justify;
}

.item2 img{
    width: 50%;
    margin: 40px 0;
    border-radius: 20px;
    border: 4px solid rgb(40, 116, 166);
}

.item3{
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/fondo\ HTML5.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
}

.item6{
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/fondo\ CSS.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
}

.item9{
    width: 100%;
    height: 100vh;
    background-image: url(../imagenes/fondo\ JS.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease;
}

.item5 h2, 
.item7 h2, 
.item11 h2{
    text-align: center;
    font-size: 50px;
}

span{
    font-weight: 800;
}

.item5 a, .item7 a, .item11 a{
    color: blue;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.8s ease;
}

.item5 a:hover, .item7 a:hover, .item11 a:hover{
    color: white;
}

.item5,
.item7,
.item11{
    font-size: 1.6vw;
    height: auto;
    width: 60vw;
    text-align: justify;
    font-weight: 500;
}

.center{
    text-align: center;
    font-size: 50px;
    color: white;
}

.item12{
    font-size: 1.3vw;
    height: auto;
    width: 100%;
    text-align: justify;
}

.contactos{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 100px;
    align-items: center;
    margin: 10px 0;
}

.tutor{
    display: flex;
    flex-direction: row;
}

.tutor ul{
    list-style-type: none;
    margin: 0 0 0 40px;
}

.tutor ul li{
    margin: 10px 0 0 0;
    font-weight: 800;
    font-size: 20px;
    color: white;
}

.tutor ul p{
    color: black;
    font-weight: 200;
    font-size: 20px;
}
#conct{
    font-size: 40px;
    color: black;
    margin: 0 40px 0 0;
    transition: all 0.3s ease;
}

#conct:hover{
    color: rgb(52, 152, 219);
}

#Ñarlos, #Erwin, #Chalex{
    height: 450px;
    border: 5px solid white;
    border-radius: 20px;
}

footer{
    background-color: rgb(23, 32, 42);
    position: relative;
    left: 0;
    width: 100%;
    height: auto;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info{
    text-align: center;
    font-size: 40px;
}

.conc{
    font-size: 2vw;
    font-weight: bold;
    color: white;
}

.info a{
    color: white;
    transition: all 0.3s ease;
}

.info a:hover{
    font-size: 50px;
}

.item13{
    margin: 5px auto;
    text-align: center;
}

.item14{
    text-align: right;
} 

.linkUP{
    text-decoration: none;
    font-weight: bold;
    color: white;
    margin: 0 1.5vw;
    font-size: 1.5vw ;
    transition: all 0.5s ease;
}

.linkUP:hover{
    font-size: 1.7vw;
}

address{
    display: flex;
    align-items: center;
    font-size: 1.7vw;
    color: white;
}


/*responsive*/
/* Portatil 1024px */
@media (width <= 1024px) {
    .logo img{
        width: 100px;
        margin: 13px 20px;
    }

    .texto-hero{
        background-color:rgb(41, 10, 179);
        font-size: 30px;
    }

    .texto-hero:hover{
        font-size: 30px;
    }

    nav ul li a{
        font-size: 18px;
    }

    .item1{
        font-size: 40px;
    }

    .item5, .item7, .item11{
        font-size: 18px;
        width: auto;
    }

    .item5 p, .item7 p, .item11 p{
        font-size: 22px;
        width: 97%;
        margin: 0 0 0 12px;
    }

    .item2{
        font-size: 20px;
    }

    h2{
        text-align: center;
    }

    .item3, .item6, .item9{
        align-items: center;
    }

    #img3, #img8, #img10{
        width: 380px;
    }

    .tutor{
        flex-direction: column;
        align-items: center;
    }

    .tutor ul li{
        margin: 0;
    }

    .item12{
        font-size: 17px;
    }

    .conc{
        font-size: 25px;
    }

    address{
        font-size: 20px;
    }

    .linkUP{
        font-size: 19px;
    }

    .linkUP:hover{
        font-size: 15px;
    }
}

/* Tablet-768 */
@media (width <= 768px) {
    .logo img{
        width: 100px;
        margin: 13px 20px;
    }

    .texto-hero{
        background-color: rgb(41, 10, 179);
        font-size: 30px;
    }

    .texto-hero:hover{
        font-size: 30px;
    }

    nav ul li a{
        font-size: 20px;
        color: white;
        font-weight: bold;
    }

    .item1{
        font-size: 40px;
    }

    .item5, .item7, .item11{
        font-size: 20px;
        width: auto;
    }

    .item2{
        font-size: 23px;
    }

    .item3, .item6, .item9{
        flex-direction: column;
    }

    .item5 p, .item7 p, .item11 p{
        font-size: 20px;
        width: 97%;
        margin: 0 0 0 12px;
    }

    .item5 h2, .item7 h2, .item11 h2{
        text-align: center;
        font-size: 60px;
    }

    #img3, #img8, #img10{
        width: 580px;
    }

    .tutor{
        flex-direction: column;
        align-items: center;
    }

    .tutor ul li{
        margin: 0;
    }

    .item12{
        font-size: 20px;
    }

    .conc{
        font-size: 30px;
    }

    address{
        font-size: 23px;
    }

    .linkUP{
        font-size: 19px;
    }

    .linkUP:hover{
        font-size: 15px;
    }
}

/* Movil L-425px */
@media (width <= 425px) {
    #btn{
        visibility: visible;
    }

    .logo img{
        width: 100px;
        margin: 13px 20px;
    }

    .texto-hero{
        background-color: rgb(41, 10, 179);
        font-size: 30px;
    }

    .texto-hero:hover{
        font-size: 20px;
    }

    .item1{
        font-size: 40px;
    }

    .item5, .item7, .item11{
        font-size: 18px;
        width: auto;
    }

    .item5 p, .item7 p, .item11 p{
        font-size: 15px;
        width: 96%;
        margin: 0 0 0 10px;
    }

    .item2{
        font-size: 20px;
    }

    .item2 img{
        width: 90%;
    }

    .item3, .item6, .item9{
        flex-direction: column;
    }

    .item5 h2, .item7 h2, .item11 h2{
        text-align: center;
        font-size: 40px;
    }

    #img3, #img8, #img10{
        width: 335px;
    }

    .tutor{
        flex-direction: column;
        align-items: center;
    }

    #Ñarlos, #Erwin, #Chalex{
        height: 400px;
    }

    .tutor ul li{
        margin: 0;
    }

    .item12{
        font-size: 15px;
    }

    .conc{
        font-size: 25px;
    }

    address{
        font-size: 20px;
    }

    .linkUP{
        font-size: 15px;
    }

    .linkUP:hover{
        font-size: 15px;
    }
    /*navegador dos*/
    .navegador{
        position: fixed;
        left: 100%;
        margin: 100px 0 0 0;
        background-color: rgb(52, 73, 94);
        width: 100%;
        height: calc(100% - 100px);
        text-align: center;
        padding: 0;
        transition: left 0.8s ease;
        overflow-y: auto;
        z-index: 2;
    }

    .navegador ul{
        flex-direction: column;
    }

    .navegador ul li{
        margin: 40px 0 0 0;
    }

    .navegador ul li a{
        color: white;
        font-size: 25px;
        padding: 0;
        border: none;
        font-weight: bolder;   
    }

    .navegador ul li a:hover{
        box-shadow: none;
        background-color: none;
        color: white;
    }

    .navegador_activo{
        left: 0;
    }

    .cuerpo_on{
        overflow-y: hidden;
    }

    .cabezera_on{
        background-color: rgb(165, 165, 164);
    }

    .footer_on{
        z-index: -2;
    }
}

/* Movil M-375 */
@media (width <= 375px) {
    #btn{
        visibility: visible;
    }

    .logo img{
        width: 100px;
        margin: 13px 20px;
    }

    .texto-hero{
        background-color: rgb(41, 10, 179);
        font-size: 30px;
    }

    .texto-hero:hover{
        font-size: 20px;
    }

    .item1{
        font-size: 40px;
    }

    .item5 p, .item7 p, .item11 p{
        font-size: 15px;
        width: 95%;
        margin: 0 0 0 11px;
    }

    .item2{
        font-size: 18px;
    }

    .item2 img{
        width: 90%;
    }

    .item3, .item6, .item9{
        flex-direction: column;
    }

    .item5 h2, .item7 h2, .item11 h2{
        text-align: center;
        font-size: 30px;
    }

    .item5, .item7, .item11{
        width: 97%;
    }

    #img3, #img8, #img10{
        width: 290px;
    }

    .tutor{
        flex-direction: column;
        align-items: center;
    }

    #Ñarlos, #Erwin, #Chalex{
        height: 350px;
    }

    .tutor ul li{
        margin: 0;
    }

    .item12{
        font-size: 15px;
    }

    .conc{
        font-size: 25px;
    }

    address{
        font-size: 20px;
    }

    .linkUP{
        font-size: 15px;
    }

    .linkUP:hover{
        font-size: 15px;
    }
    /*navegador dos*/
    .navegador{
        position: fixed;
        left: 100%;
        margin: 100px 0 0 0;
        background-color: rgb(52, 73, 94);
        width: 100%;
        height: calc(100% - 100px);
        text-align: center;
        padding: 0;
        transition: left 0.8s ease;
        overflow-y: auto;
        z-index: 2;
    }

    .navegador ul{
        flex-direction: column;
    }

    .navegador ul li{
        margin: 30px 0 0 0;
    }

    .navegador ul li a{
        color: white;
        font-size: 25px;
        padding: 0;
        border: none;
        font-weight: bolder;   
    }

    .navegador ul li a:hover{
        box-shadow: none;
        background-color: none;
        color: white;
    }

    .navegador_activo{
        left: 0;
    }

    .cuerpo_on{
        overflow-y: hidden;
    }

    .cabezera_on{
        background-color: rgb(165, 165, 164);
    }

    .footer_on{
        z-index: -2;
    }
}

/* Movil S-320px */
@media (width <= 320px) {
    #btn{
        visibility: visible;
    }

    .logo img{
        width: 100px;
        margin: 13px 20px;
    }

    .texto-hero{
        background-color: rgb(41, 10, 179);
        font-size: 25px;
        padding: 0;
    }

    .texto-hero:hover{
        font-size: 10px;
    }

    .item1{
        font-size: 40px;
    }

    .item5 p, .item7 p, .item11 p{
        font-size: 13px;
        width: 95%;
        margin: 0 0 0 8px;
    }

    .item2{
        font-size: 15px;
    }

    .item2 img{
        width: 80%;
    }

    .item3, .item6, .item9{
        flex-direction: column;
    }

    .item5 h2, .item7 h2, .item11 h2{
    text-align: center;
    font-size: 30px;
    }

    .item5, .item7, .item11{
    width: 97%;
    }

    #img3, #img8, #img10{
        width: 250px;
    }

    .item12{
        font-size: 15px;
    }

    .conc{
        font-size: 25px;
    }

    address{
        font-size: 20px;
    }

    .tutor{
        flex-direction: column;
        align-items: center;
    }

    #Ñarlos, #Erwin, #Chalex{
        height: 350px;
    }

    #Ñarlos{
        width: 200px;
    }

    .tutor ul li{
        margin: 0;
    }

    #conct{
        margin: 0 30px 0 0;
    }

    .linkUP{
        font-size: 15px;
    }

    .linkUP:hover{
        font-size: 15px;
    }
    /*navegador dos*/
    .navegador{
        position: fixed;
        left: 100%;
        margin: 100px 0 0 0;
        background-color: rgb(52, 73, 94);
        width: 100%;
        height: calc(100% - 100px);
        text-align: center;
        padding: 0;
        transition: left 0.8s ease;
        overflow-y: auto;
        z-index: 2;
    }

    .navegador ul{
        flex-direction: column;
    }

    .navegador ul li{
        margin: 30px 0 0 0;
    }

    .navegador ul li a{
        color: white;
        font-size: 20px;
        padding: 0;
        border: none;
        font-weight: bolder;   
    }

    .navegador ul li a:hover{
        box-shadow: none;
        background-color: none;
        color: white;
    }

    .navegador_activo{
        left: 0;
    }

    .cuerpo_on{
        overflow-y: hidden;
    }

    .cabezera_on{
        background-color: rgb(165, 165, 164);
    }

    .footer_on{
        z-index: -2;
    }
}